p {
  margin: 0;
}

.App-container, .name-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.name-selection, .App {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}
.name-selection::-webkit-scrollbar,
.App::-webkit-scrollbar, 
.lobby::-webkit-scrollbar, 
.board__inner::-webkit-scrollbar {
  display: none;
}

.name-selection__form .form__name {
  font-size: 16px;
  border-radius: 3px;
  padding: 4px 8px;
}

.name-selection__form .form__submit-btn {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #ccc;
  color: #000;
  border:none;
  border-radius: 3px;
}



.host-selection__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form__join-room {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.form__join-room input {
  font-size: 20px;
  padding: 6px;
}

.host-selection__form button {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #ccc;
  cursor: pointer;
  font-size: 16px;
}

.error {
  font-size: 10px;
  color: red;
  text-align: center;
}


.lobby {
  width: 50%;
  margin: auto;
  flex: 1;
  overflow: scroll;
}

.lobby>.btn-quit {
  position: absolute;
  top: 0;
  width: fit-content;
  border: 1px solid black;
  padding-bottom: 5px;
  padding-right: 5px;
  cursor: pointer;
  background-color: #dae0dce2;
  margin: 10px;
  border-radius: 4px;
}
.lobby .icon-back {
  width: 15px;
  margin-bottom: -2px;
}

.btn-container {
  position: relative;
}

.btn-start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.player-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  margin-top: 50px;
  margin-bottom: 30px;
}

.avatar img {
  height: 5em;
  border-radius: 50%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 10px;
  width: 80px;
  height: 120px;
  overflow: hidden;
}

.board-container {
  height: 60%;
}

.board {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  box-sizing: border-box;
}

.board__inner {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.board-state {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: 30px;
  font-weight: 700;
  color: chocolate;
  border: 1px solid black;
  border-radius: 4px;
}

.header, .footer {
  width: 100%;
  background-color: #ccc;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.header div, .footer div {
  vertical-align: baseline;
}

