p {
  margin: 0;
}

.App-container, .name-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.name-selection, .App {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.lobby {
  width: 50%;
  margin: auto;
}

.btn-container {
  position: relative;
}

.btn-start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.player-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.avatar img {
  height: 5em;
  border-radius: 50%;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.board {
  width: fit-content;
  height: fit-content;
  max-width: 500px;
  max-height: 500px;
  overflow: scroll;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: auto;
  
}

.board::-webkit-scrollbar, .App::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: 30px;
  font-weight: 700;
  color: chocolate;
  border: 1px solid black;
  border-radius: 4px;
}

.header, .footer {
  width: 100%;
  background-color: #ccc;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}
.header div, .footer div {
  vertical-align: baseline;
}

