.App, #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.board {
  width: fit-content;
  height: fit-content;
  max-width: 500px;
  max-height: 500px;
  overflow: scroll;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 20px;
  
}

.board::-webkit-scrollbar {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.square {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: 35px;
  height: 35px;
  font-size: 30px;
  font-weight: 700;
  color: chocolate;
  border: 1px solid black;
  border-radius: 4px;
}

p{
  font-size: 10px;
}